/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.home {
  width: 100%;
  height: auto;
}

.home {
  background-image: url(./assets/homebg.png);
}

.button {
  border: 1px solid #fff;
}

.stats {
  width: 100%;
  height: auto;
  background-color: black;
}

.setup {
  width: 100%;
  height: auto;
}
